<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="{{ '/style.css' | relative_url }}">
</head>
<body>
  <header>
    <h1 style="font-family: League Spartan, sans-serif;">Consumer Kanvas Blog Test</h1>
  </header>

  <main style="max-width: 800px; margin: 2rem auto; padding: 1rem;">
    <h2>{{ page.title }}</h2>
    {{ content }}
  </main>
</body>
</html>
